form{
	text-align: center;
	position: relative;
	
}

input.sub{
	width: 20px;
	height: 10px;
}

label{
	text-align: center;
	font-size: 24pt;
}

input{
	width: 25%;
	height: 5%;
	font-size: 15pt;
}

#sub{
	width: 15%;
	height:4%;
	font-size: 12pt;
}
.userform form{
	margin-left: 15px;
	margin-top: 175px;
	width: 90%;

}
.clearform{
	overflow: auto;
}

.nav-bar{
	float: left;
	width: 200px;

}

.nav-bar li{
	list-style-type: none;
	padding-top: 60px;	
}
.passform {
	width: 20%;
	height: 4%;
	font-size: 10pt;
	}


	

	